*{
    margin: 0% auto;
    padding: 0%;
}
body{
    justify-content: center;
    display: flex;
}
.registration{
    justify-content: center;
    margin: 0% auto;
    padding: 0%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
